/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px solid red;
}

img {
  // max-width: 100%;
  // height: auto;
  // object-fit: contain;
}
