/* здесь используйте глобальные переменные */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$main-color-text: #000000;
$secondary-color-text: #ffffff;
$special-color-text: #444444;
$tint-color-text: #111111;
$auxiliary-color-text: #222222;
