.about {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.about__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.about__list {
  @include list-reset;
}

.about__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;
}

@media (min-width: $tablet-width) {
  .about {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: $desktop-width;
  }
}
