.about {
  align-items: center;
  width: $mobile-width;
  padding: 19px 20px 50px;
}

.about__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.about__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 0;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about__wrapper {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: $special-color-bg;
}

.about__image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__description {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: $special-color-text;
}

// @media (min-width: $tablet-width) {
//   .about {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .about {
//     width: $desktop-width;
//   }
// }
