.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px 0;
  padding: 20px 20px 26px;
}

.card__link {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-content: center;
  align-items: center;
  gap: 17px;
  min-height: 107px;
  text-decoration: none;
}

.card__link:hover,
.card__link:focus {
  outline: none;
  opacity: 0.8;
}

.card__link:active {
  opacity: 0.3;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title-link {
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: none;
}

.card__title-link:hover,
.card__title-link:focus {
  outline: none;
  opacity: 0.8;
}


.card__title-link:hover > .card__title,
.card__title-link:focus > .card__title {
  color: $special-color-bg;
  cursor: pointer;
}

.card__title-link:active {
  opacity: 0.3;
}

.card__title {
  width: 60%;
  margin: 0 0 5px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
}

.card__info-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin: 0 0 5px;
}

.card__info-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__info-key,
.card__info-value {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.card__button {
  grid-column: 1 / 3;
  margin: 8px 0 0;
  padding: 10px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  border: none;
  color: $secondary-color-text;
  background-color: $special-color-bg;
  text-transform: uppercase;
}

.card__button:hover,
.card__button:focus {
  background-color: $hover-color-bg;
  outline: none;
  cursor: pointer;
}

.card__button:active {
  color: rgba($secondary-color-text, 0.3);
}

@media screen and (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    width: 100%;
    min-height: 430px;
    margin: 125px 0 0;
    padding: 135px 37px 40px;
    background-color: $secondary-color-bg;
  }

  .card__link {
    position: absolute;
    top: -69;
    min-height: 210px;
  }

  .card__title {
    width: 55%;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card__info-list {
    width: 100%;
    gap: 12px;
    margin: 0 0 18px;
  }

  .card__info-item {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .card__info-item::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: $secondary-color-border;
  }

  .card__info-key,
  .card__info-value {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .card__button {
    align-self: stretch;
    padding: 11px 0 9px;
  }

  .card.card--show-more {
    display: flex;
    padding: 0 35px 38px;
    background-color: $main-color-bg;
    border: 2px solid  $secondary-color-bg;
  }
}

@media screen and (min-width: $desktop-width) {
  .card {
    padding: 135px 38px 41px;
  }

  .card.card--show-more {
    padding: 0 38px 41px;
  }

  .card__title {
    width: 80%;
    margin: 0;
  }

  .card__info-list {
    gap: 13px;
    margin: 10px 0 18px;
  }

  .card__info-item {
    padding: 0;
  }

  .card__info-item::after {
    bottom: -9px;
  }

  .card__button {
    margin: 15px 0 0;
  }
}
