.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px 0;
  padding: 20px 20px 26px;
}

.card__link {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-content: center;
  align-items: center;
  gap: 17px;
  min-height: 107px;
  text-decoration: none;
}

.card__title {
  width: 60%;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
}

.card__info-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.card__info-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__info-key,
.card__info-value {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;

  color: $special-color-text;
}

.card__button {
  grid-column: 1 / 3;
  margin: 8px 0 0;
  padding: 10px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  border: none;
  color: $secondary-color-text;
  background-color: $special-color-bg;
  text-transform: uppercase;
}
