.catalog {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: $desktop-width;
  }
}
