.example {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.example__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;
}

.example__parameter {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.example__annotation {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;

  color: $special-color-text;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: $special-color-text;
}

@media (min-width: $tablet-width) {
  .example {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: $desktop-width;
  }
}
