.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 0 40px;
  background-color: $tint-color-bg;
}

.example__wrapper {
  width: $mobile-width;
  padding: 0 20px;
}

.example__title {
  align-self: center;
  width: $mobile-width;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.example__description {
  margin: 0;
  padding: 40px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.example__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 19px 0 34px;
}

.example__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 124px;
  padding: 14px 0 17px;
  border: 1px solid $secondary-color-border;
  border-radius: 2px;
}

.example__parameter {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
}

.example__annotation {
  position: absolute;
  bottom: -16px;
  margin: 0;
  padding: 0 10px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  background-color: $tint-color-bg;
  color: $special-color-text;
  text-align: center;
  z-index: 1;
}

.example__cost {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: $special-color-text;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $main-color-bg;
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    width: $tablet-width;
    padding: 20px 30px 235px;
  }

  .example__title {
    width: $tablet-width;
    padding: 20px 0 0 30px;
    grid-column: 1 / 3;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    grid-column: 1 / 3;
    padding: 40px 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list {
    grid-column: 1 / 2;
    gap: 43px;
    padding: 0;
  }

  .example__item {
    width: 162px;
    padding: 14px 0 19px;
  }

  .example__parameter {
    font-size: 30px;
    line-height: 37px;
  }

  .example__annotation {
    bottom: -6px;
    font-size: 14px;
    line-height: 14px;
    background-color: $main-color-bg;
  }

  .example__annotation--break {
    display: none;
  }

  .example__cost {
    grid-column: 2 / 3;
    place-self: center end;
    width: 55%;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.11px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .example__title {
    grid-column: 1 / 3;
    place-self: center center;
    width: $desktop-width;
    padding: 22px 20px 76px 111px;
  }

  .example__container {
    display: flex;
    align-self: stretch;
    justify-content: end;
    background-color: $secondary-color-bg;
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    justify-items: end;
    place-self: stretch end;
    align-content: end;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 55px 0;
    width: 722px;
    min-height: 450px;
    padding: 20px 177px 0 112px;
  }

  .example__description {
    padding: 50px 0 0;
  }

  .example__list {
    justify-content: start;
    padding: 15px 0 0;
  }

  .example__annotation {
    background-color: $secondary-color-bg;
  }

  .example__cost {
    display: flex;
    gap: 65px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-self: center start;
    width: 100%;
    text-align: left;
  }
}
