.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px 0 40px;
  background-color: $tint-color-bg;
}

.example__wrapper {
  width: $mobile-width;
  padding: 0 20px;
}

.example__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.example__description {
  margin: 0;
  padding: 40px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.example__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 19px 0 34px;
}

.example__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 124px;
  padding: 14px 0 17px;
  border: 1px solid $secondary-color-border;
  border-radius: 2px;
}

.example__parameter {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
}

.example__annotation {
  position: absolute;
  bottom: -16px;
  margin: 0;
  padding: 0 10px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  background-color: $tint-color-bg;
  color: $special-color-text;
  text-align: center;
  z-index: 1;
}

.example__cost {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: $special-color-text;
}

// @media (min-width: $tablet-width) {
//   .example {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .example {
//     width: $desktop-width;
//   }
// }
