.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $mobile-width;
  padding: 20px;
  background-color: $secondary-color-bg;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-self: center;
  width: calc($mobile-width - 40px);
  padding: 20px 20px 19px;
}

// @media (min-width: $tablet-width) {
//   .footer {
//     min-width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .footer {
//     min-width: $desktop-width;
//   }
// }
