.form {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.form__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  text-transform: uppercase;
}

.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;

  text-transform: uppercase;
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;

  text-transform: uppercase;
}

.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;

  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
  }
}
