.goods {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  padding: 18px 20px 40px;
}

.goods__title {
  position: relative;
  align-self: start;
  margin: 0;
  padding: 0 0 43px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.goods__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  top: 15px;
  right: -40px;
  height: 2px;
  background-color: inherit;
  box-shadow: 100vw 0 0 0 $special-color-bg;
}

.goods__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
}

.goods__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px 0;
  padding: 0 0 33px;
}

.goods__name {
  position: relative;
  grid-column: 1/3;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $auxiliary-color-text;
  text-transform: uppercase;
}

.goods__name::after {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $secondary-color-border;
}

.goods__description {
  grid-column: 1/2;
}

.goods__price {
  grid-column: 2/3;
  justify-self: end;
}

.goods__description,
.goods__price {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.goods__button {
  grid-column: 1 / 3;
  margin: 1px 0 0;
  padding: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color-text;
  background-color: $special-color-bg;
  border: none;
  cursor: pointer;
}

.goods__button:hover,
.goods__button:focus {
  background-color: $hover-color-bg;
  outline: none;
}

.goods__button:active {
  color: rgba($secondary-color-text, 0.3);
}

@media screen and (min-width: $tablet-width) {
  .goods {
    width: $tablet-width;
    padding: 30px 30px 79px;
  }

  .goods__title {
    padding: 14px 41px 81px;
    font-size: 32px;
    line-height: 32px;
  }

  .goods__title::before {
    content: "";
    position: absolute;
    display: block;
    top: 28px;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: $special-color-bg;
  }

  .goods__title::after {
    top: 28px;
    right: 0;
  }

  .goods__list {
    gap: 1px;
    padding: 0;
    border: 1px solid $secondary-color-border;
  }

  .goods__item {
    grid-template-columns: 1fr auto minmax(min-content, 62px);
    gap: 22px 30px;
    padding: 26px 37px 28px;
  }

  .goods__item:not(:last-child) {
    border-bottom: 1px solid $secondary-color-border;
  }

  .goods__name {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }

  .goods__name::after {
    display: none;
  }

  .goods__description,
  .goods__price {
    font-size: 16px;
    line-height: 20px;
  }

  .goods__description {
    grid-column: 2/3;
  }

  .goods__price {
    grid-column: 3/4;
  }

  .goods__button {
    grid-column: 1 / 4;
  }
}

@media screen and (min-width: $desktop-width) {
  .goods {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 82px;
    width: $desktop-width;
    padding: 30px 108px 80px 111px;
  }

  .goods__title {
    grid-column: 1 / 3;
    width: fit-content;
    margin: 0;
    padding: 10px 0 78px;
    font-size: 40px;
    line-height: 40px;
  }

  .goods__title::before {
    content: "";
    top: 27px;
    right: calc(100% + 40px);
  }

  .goods__title::after {
    top: 27px;
    right: -40px;
  }

  .goods__list {
    gap: 0;
    border: none;
    border-top: 1px solid $secondary-color-border;
    border-bottom: 1px solid $secondary-color-border;
  }

  .goods__item {
    display: grid;
    grid-template-columns: 295px auto 52px 244px;
    align-items: center;
    gap: 10px 30px;
    padding: 14px 0 16px;
  }

  .goods__name {
    grid-column: 1 / 2;
  }

  .goods__description {
    grid-column: 2 / 3;
    padding: 8px 0 0;
  }

  .goods__price {
    grid-column: 3 / 4;
    justify-self: start;
    padding: 8px 0 0;
  }

  .goods__button {
    grid-column: 4 / 5;
  }
}
