.goods {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;

  color: $main-color-text;
}

.goods__list {
  @include list-reset;
}

.goods__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;

  color: $auxiliary-color-text;

  text-transform: uppercase;
}

.goods__description,
.goods__price {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;

  color: $special-color-text;
}

@media (min-width: $tablet-width) {
  .goods {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    width: $desktop-width;
  }
}
