.goods {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  padding: 18px 20px 40px;
}

.goods__title {
  position: relative;
  align-self: start;
  margin: 0;
  padding: 0 0 43px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.goods__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  top: 15px;
  right: -40px;
  height: 2px;
  background-color: inherit;
  box-shadow: 100vw 0 0 0 $special-color-bg;
}

.goods__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 13px;
}

.goods__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px 0;
  padding: 0 0 20px;
}

.goods__name {
  position: relative;
  grid-column: 1/3;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $auxiliary-color-text;
  text-transform: uppercase;
}

.goods__name::after {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $secondary-color-border;
}

.goods__description {
  grid-column: 1/2;
}

.goods__price {
  grid-column: 2/3;
  justify-self: end;
}

.goods__description,
.goods__price {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.goods__button {
  grid-column: 1 / 3;
  margin: 1px 0 0;
  padding: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: $secondary-color-text;
  background-color: $special-color-bg;
  border: none;
  cursor: pointer;
  bottom: none;
}

// @media (min-width: $tablet-width) {
//   .goods {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .goods {
//     width: $desktop-width;
//   }
// }
