.hero {
  width: $mobile-width;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.hero__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
}

.hero__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;

  text-transform: uppercase;
}

.hero__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;

  color: $main-color-text;

  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .hero {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: $desktop-width;
  }
}
