.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  min-height: 302px;
  padding: 27px 20px 150px;
  background-color: $special-color-bg;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/background/index-background-mobile@1x.webp") 1x,
      url("../../images/background/index-background-mobile@2x.webp") 2x,
      url("../../images/background/index-background-mobile@1x.png") 1x,
      url("../../images/background/index-background-mobile@2x.png") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  width: $mobile-width;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $secondary-color-text;
  text-align: center;
}

.hero__description {
  width: $mobile-width;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $secondary-color-text;
  text-align: center;
  text-transform: uppercase;
}

.hero__image {
  position: relative;
  display: block;
  margin-top: -135px;
  left: 50%;
  width: 280px;
  height: 270px;
  transform: translateX(-50%);
}

.hero__button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: calc($mobile-width - 40px);
  padding: 10px 0;
  margin: 3px 20px 20px;
  background-color: $special-color-bg;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: $secondary-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

.hero__button:hover,
.hero__button:focus {
  background-color: $hover-color-bg;
  outline: none;
}

.hero__button:active {
  color: rgba($secondary-color-text, 0.3);
}

@media screen and (min-width: $tablet-width) {
  .hero {
    justify-content: start;
    align-items: center;
    gap: 21px;
    width: $tablet-width;
    min-height: fit-content;
    padding: 30px 30px 0;
  }

  .hero__wrapper {
    align-items: start;
    min-height: fit-content;
    padding: 0;
    background-image: none;
    background-color: $main-color-bg;
  }

  .hero__title {
    width: $tablet-width;
    padding: 5px 20px 15px 120px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $main-color-text;
  }

  .hero__description {
    width: $tablet-width;
    padding: 0 20px 0 120px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $main-color-text;
  }

  .hero__image {
    position: relative;
    top: 0;
    left: 0;
    width: 709px;
    height: 609px;
    margin-top: 0;
    transform: none;
  }

  .hero__button {
    position: absolute;
    bottom: 506px;
    left: 100px;
    align-self: flex-start;
    width: fit-content;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: $desktop-width) {
  .hero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0 50px;
    width: $desktop-width;
    min-height: 545px;
    padding: 0 30px;
  }

  .hero__wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    align-items: end;
    gap: 40px;
    width: 100%;
    margin: 0;
    padding: 75px 50px 290px 0;
  }

  .hero__title {
    width: 100%;
    padding: 0 0 0 160px;
  }

  .hero__description {
    width: 100%;
    padding: 0 0 0 160px;
  }

  .hero__image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 552px;
    height: 499px;
    padding: 0;
    transform: translate(-188px, -29px);
  }

  .hero__button {
    bottom: 164px;
    left: 170px;
  }
}
