.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: $mobile-width;
  min-height: 500px;
  margin: 0 auto;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 302px;
  padding: 27px 20px 0;
  background-color: $special-color;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/background/index-background-mobile@1x.webp") 1x,
      url("../../images/background/index-background-mobile@2x.webp") 2x,
      url("../../images/background/index-background-mobile@1x.png") 1x,
      url("../../images/background/index-background-mobile@2x.png") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;

  color: $secondary-color-text;
  text-align: center;
}

.hero__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;

  color: $secondary-color-text;
  text-align: center;
  text-transform: uppercase;
}

.hero__image {
  position: absolute;
  top: 167px;
  left: 50%;
  width: 280px;
  height: 270px;
  transform: translateX(-50%);
}

.hero__button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 20px;
  background-color: $special-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: $secondary-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .hero {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: $desktop-width;
  }
}
