.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  min-height: 302px;
  padding: 27px 20px 0;
  background-color: $special-color-bg;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/background/index-background-mobile@1x.webp") 1x,
      url("../../images/background/index-background-mobile@2x.webp") 2x,
      url("../../images/background/index-background-mobile@1x.png") 1x,
      url("../../images/background/index-background-mobile@2x.png") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  width: $mobile-width;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  color: $secondary-color-text;
  text-align: center;
}

.hero__description {
  width: $mobile-width;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: $secondary-color-text;
  text-align: center;
  text-transform: uppercase;
}

.hero__image {
  position: absolute;
  display: block;
  top: 167px;
  left: 50%;
  width: 280px;
  height: 270px;
  transform: translateX(-50%);
}

.hero__button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: calc($mobile-width - 40px);
  padding: 10px 0;
  margin: 20px;
  background-color: $special-color-bg;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: $secondary-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .hero {
    width: $tablet-width;
    justify-content: start;
    align-items: center;
    gap: 21px;
    padding: 30px 30px 0;
    min-height: fit-content;
  }

  .hero__wrapper {
    align-items: start;
    padding: 0;
    background-image: none;
    background-color: $main-color-bg;
    min-height: fit-content;
  }

  .hero__title {
    width: $tablet-width;
    padding: 5px 20px 15px 121px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $main-color-text;
  }

  .hero__description {
    width: $tablet-width;
    padding: 0 20px 0 121px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $main-color-text;
  }

  .hero__image {
    position: relative;
    top: 0;
    left: 2px;
    width: 709px;
    height: 609px;
    transform: none;
  }

  .hero__button {
    position: absolute;
    bottom: 506px;
    left: 101px;
    align-self: flex-start;
    width: fit-content;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

// @media (min-width: $desktop-width) {
//   .hero {
//     width: $desktop-width;
//   }
// }
