.map {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.map__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
}

.map__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;

  color: $special-color-text;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
  }
}
