.map {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.map--secondary {
  background-color: $secondary-color-bg;
}

.map__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  width: $mobile-width;
  padding: 27px 20px 25px;
}

.map__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
}

.map__description {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.map__container {
  width: 100%;
  height: 362px;
  border: none;
  background-image:
    image-set(
      url("../../images/map/map-mobile@1x.webp") 1x,
      url("../../images/map/map-mobile@2x.webp") 2x,
      url("../../images/map/map-mobile@1x.png") 1x,
      url("../../images/map/map-mobile@2x.png") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map__mobile {
  width: 100%;
  height: 362px;
  border: none;
}

.map__tablet {
  display: none;
}

.map__mobile.no-js {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .map--secondary {
    background-color: $secondary-color-bg;
    padding: 40px 0 0;
  }

  .map__wrapper {
    width: $tablet-width;
    padding: 21px 70px 59px;
  }

  .map__title {
    width: 60%;
    font-size: 20px;
    line-height: 26px;
  }

  .map__description {
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-self: flex-end;
    width: 50%;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .map__container {
    height: 400px;
    border: none;
    background-image:
      image-set(
        url("../../images/map/map-tablet@1x.webp") 1x,
        url("../../images/map/map-tablet@2x.webp") 2x,
        url("../../images/map/map-tablet@1x.png") 1x,
        url("../../images/map/map-tablet@2x.png") 2x
      );
  }

  .map__mobile {
    display: none;
  }

  .map__tablet {
    display: block;
    width: 100%;
    height: 400px;
    border: none;
  }

  .map__tablet.no-js {
    display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .map {
    position: relative;
    padding: 0;
  }

  .map__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 565px;
    padding: 62px 78px 60px 80px;
    background-color: $main-color-bg;
    transform: translate(-610px, -105px);
  }

  .map__title {
    width: 163px;
  }

  .map__description {
    width: 157px;
    text-align: left;
  }

  .map__container {
    height: 400px;
    border: none;
    background-image:
      image-set(
        url("../../images/map/map-desktop@1x.webp") 1x,
        url("../../images/map/map-desktop@2x.webp") 2x,
        url("../../images/map/map-desktop@1x.png") 1x,
        url("../../images/map/map-desktop@2x.png") 2x
      );
  }
}
