.navigation__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
  text-decoration: none;
}
