.navigation {
  position: relative;
  width: 100vw;
}

.navigation__list {
  @include list-reset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $main-color-bg;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 1;
}

.navigation--close > .navigation__list {
  max-height: 0;
}

.navigation.no-js > .navigation__list {
  position: relative;
  max-height: 100vh;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 2px solid $main-color-border;
  cursor: pointer;
}
