.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  padding: 0 20px 40px;
}

.news__title {
  position: relative;
  align-self: start;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.news__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  top: 9px;
  right: -40px;
  height: 2px;
  background-color: inherit;
  box-shadow: 100vw 0 0 0 $special-color-bg;
}

.news__description {
  margin: 0;
  padding: 33px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.news__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 23px 0 0;
}

.news__input {
  width: 100%;
  padding: 13px 12px 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  color: $special-color-text;
  text-transform: uppercase;
  border: 1px solid $auxiliary-color-border;
}

.news__button {
  padding: 15px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: $secondary-color-text;
  background-color: $special-color-bg;
}

@media (min-width: $tablet-width) {
  .news {
    width: $tablet-width;
    padding: 2px 30px;
  }

  .news__title {
    font-size: 32px;
    line-height: 32px;
    padding: 0 41px 61px;
  }

  .news__title::before {
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: $special-color-bg;
  }

  .news__title::after {
    top: 13px;
    right: 0;
  }

  .news__description {
    width: 80%;
    font-size: 24px;
    line-height: 32px;
    padding: 4px 0 0;
  }

  .news__form {
    display: grid;
    grid-template-columns: 132fr 90fr;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 24px 38px 77px;
  }
}

@media (min-width: $desktop-width) {
  .news {
    width: $desktop-width;
    padding: 17px 69px 25px;
  }

  .news__title {
    font-size: 40px;
    line-height: 40px;
  }

  .news__title::before {
    top: 18px;
  }

  .news__title::after {
    top: 18px;
  }

  .news__description {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0 0;
  }

  .news__form {
    display: grid;
    grid-template-columns: 496px 256px;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 24px 38px 77px;
  }
}
