.news {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.news__input {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;

  text-transform: uppercase;
}

.news__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .news {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .news {
    width: $desktop-width;
  }
}
