//
.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
}

.page__main {
  flex-grow: 1;
}
