//
.programms {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

.programms__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
}

.programms__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;

  color: $special-color-text;
}

.programms__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .programms {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .programms {
    width: $desktop-width;
  }
}
