.programms {
  padding: 0 20px;
  align-items: center;
  width: $mobile-width;
}

.programms__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programms__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px 20px;
  padding: 24px 20px 22px;
  background-color: $secondary-color-bg;
}

.programms__wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $special-color-bg;
  border-radius: 50%;
}

.programms__image {
  position: absolute;
  transform: translate(-50%, -55%);
}

.programms__image--slim {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  scale: 1;
}

.programms__image--pro {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 1;
}

.programms__title {
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0 0 1px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
}

.programms__description {
  display: flex;
  flex-direction: column;
  gap: 21px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 12px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.programms__description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $auxiliary-color-bg;
}

.programms__button {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 10px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

.programms__button::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  background-image: url("../../icons/stack.svg#icon-arrow");
}

@media (min-width: $tablet-width) {
  .programms {
    width: $tablet-width;
    padding: 0 30px;
  }

  .programms__list {
    gap: 30px;
  }

  .programms__item {
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 10px 55px;
    padding: 72px 63px 57px 52;
  }

  .programms__wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    width: 200px;
    height: 200px;
    margin: 20px 0 0;
  }

  .programms__image--slim {
    width: 140px;
    height: 194px;
    top: 49%;
    left: 50%;
  }

  .programms__image--pro {
    width: 268px;
    height: 200px;
    top: 50%;
    left: 50%;
  }

  .programms__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 5px 0 0;
    font-size: 36px;
    line-height: 36px;
  }

  .programms__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 14px 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  .programms__description::after {
    display: none;
  }

  .programms__button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    gap: 27px;
    width: fit-content;
    margin: 42 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programms {
    width: $desktop-width;
    padding: 82px 110px 40px;
  }

  .programms__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  .programms__item {
    grid-template-columns: 100px 1fr;
    gap: 10px 62px;
    padding: 28px 53px 58px;
  }

  .programms__wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100px;
    height: 100px;
  }

  .programms__image--slim {
    width: 70px;
    height: 97px;
    top: 45%;
    left: 49%;
    scale: 0.99;
  }

  .programms__image--pro {
    width: 134px;
    height: 56px;
    top: 48%;
    left: 48%;
    scale: 0.99;
  }

  .programms__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 13px 0 0;
    align-self: center;
  }

  .programms__description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 28px 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  .programms__button {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    gap: 27px;
    margin: 18px 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}
