.programms {
  padding: 0 20px;
  align-items: center;
  width: $mobile-width;
}

.programms__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programms__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px 20px;
  padding: 23px 21px 22px;
  background-color: $secondary-color-bg;
}

.programms__wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $special-color-bg;
  border-radius: 50%;
}

.programms__image {
  position: absolute;
  transform: translate(-50%, -55%);
}

.programms__image--slim {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  scale: 1;
}

.programms__image--pro {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 1;
}

.programms__title {
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
}

.programms__description {
  display: flex;
  flex-direction: column;
  gap: 23px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 13px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.programms__description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $auxiliary-color-bg;
}

.programms__button {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 9px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $main-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

.programms__button::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  background-image: url("../../icons/stack.svg#icon-arrow");
}

// @media (min-width: $tablet-width) {
//   .programms {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .programms {
//     width: $desktop-width;
//   }
// }
