.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  width: 280px;
  min-height: 290px;
  margin: 20px 0 0;
  padding: 0;
  background-color: $special-color-bg;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/promo/promo-mobile@1x.webp") 1x,
      url("../../images/promo/promo-mobile@2x.webp") 2x,
      url("../../images/promo/promo-mobile@1x.png") 1x,
      url("../../images/promo/promo-mobile@2x.png") 2x
    );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo::after {
  content: "";
  position: absolute;
  display: block;
  top: -35px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: $secondary-color-border;
}

.promo__icon {
  margin: 58px 0 0;
  flex-shrink: 0;
}

.promo__title {
  display: flex;
  width: 161px;
  margin: 0 3px 0 0;
  padding: 0 0 43px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: $secondary-color-text;
}

@media screen and (min-width: $tablet-width) {
  .promo {
    flex-direction: row;
    align-items: center;
    width: 707px;
    min-height: 199px;
    margin: 69px 0 0;
    padding: 42px 124px 0 30px;
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/promo/promo-tablet@1x.webp") 1x,
        url("../../images/promo/promo-tablet@2x.webp") 2x,
        url("../../images/promo/promo-tablet@1x.png") 1x,
        url("../../images/promo/promo-tablet@2x.png") 2x
      );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .promo::after {
    display: none;
  }

  .promo__icon {
    width: 80px;
    height: 82px;
    transform: translateY(-23px) translateX(48px);
    margin: 0;
  }

  .promo__title {
    text-align: left;
    margin: 0;
    padding: 0 0 39px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promo {
    flex-direction: column;
    width: 245px;
    min-height: 288px;
    margin: 0;
    padding: 0;
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/promo/promo-desktop@1x.webp") 1x,
        url("../../images/promo/promo-desktop@2x.webp") 2x,
        url("../../images/promo/promo-desktop@1x.png") 1x,
        url("../../images/promo/promo-desktop@2x.png") 2x
      );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .promo__icon {
    height: 83px;
    transform: translateY(0) translateX(0);
    margin: 56px 0 0;
  }

  .promo__title {
    text-align: center;
    padding: 0 0 42px;
  }
}
