.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: $mobile-width;
}

.show-more__icon {
  margin: 5px 0 0;
}

.show-more__title {
  margin: 24px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $tint-color-text;
  text-transform: uppercase;
}

.show-more__text {
  margin: 8px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;

  color: $special-color-text;
}

.show-more__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: 20px 0 0;
  padding: 10px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $special-color-text;
  text-transform: uppercase;
  border: none;
}
