.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: $mobile-width;
}

.show-more__icon {
  margin: 5px 0 0;
}

.show-more__title {
  margin: 24px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $tint-color-text;
  text-transform: uppercase;
}

.show-more__text {
  margin: 8px 0 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $special-color-text;
}

.show-more__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: 20px 0 0;
  padding: 10px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: $special-color-text;
  text-transform: uppercase;
  border: none;
}

@media (min-width: $tablet-width) {
  .show-more {
    width: 100%;
    justify-content: end;
  }

  .show-more__icon {
    height: 100%;
    align-self: center;
    width: 60px;
    margin: 0;
    padding: 0 0 47px;
  }

  .show-more__title {
    width: 60%;
    margin: 0;
    padding: 0 0 23px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .show-more__text {
    width: 70%;
    margin: 0;
    padding: 0 0 72px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .show-more__button {
    margin: 10px 0 0;
    padding: 11px 0 9px;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 100%;
  }

  .show-more__icon {
    padding: 0 0 40px;
  }

  .show-more__title {
    width: 100%;
    padding: 0 0 25px;
  }

  .show-more__text {
    width: 100%;
    padding: 0 0 80px;
  }
}
