.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 20px 0 0;
}

.slider__wrapper {
  display: flex;
  width: 280px;
  height: 256px;
  overflow: hidden;
}

.slider__before {
  display: flex;
  justify-content: start;
  width: 50%;
  overflow: hidden;
}

.slider__after {
  display: flex;
  justify-content: end;
  width: 50%;
  overflow: hidden;
}

.slider__image {
  max-width: none;
}

.slider__button {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  padding: 0;
  border: none;
  background-color: $primary-color-bg;
  border-radius: 5px;
  transform: translateX(-50%);
}

.slider__thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

// @media (min-width: $tablet-width) {
//   .slider {
//     min-width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .slider {
//     min-width: $desktop-width;
//   }
// }
